
 .nav-wrapper .brand-logo img {
    height: 64px;
}
 .fa {
     margin-left: 10px;
 }

 body{
     background-image:url(./images/soccer_001.jpg);
     background-repeat: no-repeat;
     background-size:cover;
 }

 .countdownContainer{
     text-align: center;
     border: 1px solid #999;
     padding: 10px;
     box-shadow: 0 0 5px 3px #ccc;
 }

 .info{
     font-size: 80px;
 }

 .jumbotron{
     text-align:center;
 }
 h1{
     font-size: 60px;
 }
 p{
     font-size: 20px;
 }
 #button-team{
     margin-left: 175px;
     margin-right: 175px;
 }
 #news-team{
     margin-left: 175px;
     margin-right: 175px;
 }

 .content {
     max-height: 500px;
 }